# CLI
STATESPACE_URL=https://api.statespace.com
STATESPACE_TOKEN=
STATESPACE_CONFIG=

# Installer
STATESPACE_REPOSITORY=statespace-tech/cli
STATESPACE_VERSION=latest
STATESPACE_INSTALL_DIR=
STATESPACE_DOWNLOAD_ROOT=
